<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Possible Phishing Data</title>
    <style>
        table, th, td {
          border: 2px solid black;
        }
    </style>
</head>
<body style="background-color: #98d8eb;">
    <script>
        var urlParams = new URLSearchParams(window.location.search);
        var username = urlParams.get('Username');
    </script>
    <h1 style="background-color: #53ced8;">
        <center>Welcome <script>document.write(username) </center> </script>
    </h1>

    <h2 style="background-color: #a3e4fa;"> <center> Possible Phishing Data </center> </h2>
    <div id="root"></div>
    <script src="../js/getData.js"></script>
</body>
</html>
